@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin rotating-anim($keys, $delay) {
  -webkit-animation: $keys 2s cubic-bezier(0.25, 0, 0.705, 1) $delay infinite;
  animation: $keys 2s cubic-bezier(0.25, 0, 0.705, 1) $delay infinite;
}

@mixin rotating-line($line, $delay) {
  @include rotating-anim($line, $delay);
}


.line {
  position: absolute;
  bottom: 0px;
  width: 2px;
  background-color: red;
}

.line1 {
  background-color: red;
  height: 100%;
  @include rotating-line(line2, 0s);
}
.line2 {
  background-color: orange;
  height: 100%;
  @include rotating-line(line2, 1s);
}


.line1first {
  background-color: red;
  height: 5%;
  @include rotating-line(line1, 0s);
}
.line2first {
  background-color: orange;
  height: 5%;
  @include rotating-line(line1, 1s);
}

@mixin disk($delay) {
  position: absolute;
  -webkit-transform: rotate(-180deg);
  height: 40%;
  width: 0px;
  -webkit-transform-origin: 100% 0%;
  -webkit-animation: rotate 10s linear $delay infinite;
  animation: rotate 10s linear $delay infinite;
}

.disk1 {
  background-color: blue;
  @include disk(0s);
}
.disk2 {
  background-color: blue;
  @include disk(1s);
}
.disk3 {
  background-color: blue;
  @include disk(2s);
}
.disk4 {
  background-color: blue;
  @include disk(3s);
}
.disk5 {
  background-color: blue;
  @include disk(4s);
}
.disk6 {
  background-color: blue;
  @include disk(5s);
}
.disk7 {
  background-color: blue;
  @include disk(6s);
}
.disk8 {
  background-color: blue;
  @include disk(7s);
}
.disk9 {
  background-color: blue;
  @include disk(8s);
}
.disk10 {
  background-color: blue;
  @include disk(9s);
}

@mixin keyframes-line2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    bottom: -50px;
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes line2 {
  @include keyframes-line2();
}

@keyframes line2 {
  @include keyframes-line2();
}


@mixin keyframes-line1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    bottom: -50px;
    height: 20%;
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes line1 {
  @include keyframes-line1();
}

@keyframes line1 {
  @include keyframes-line1();
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

html, body {
    margin: 0;
    height: 100%;
}
body {
  background-color: black;
  overflow: hidden;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  //height: 0px;
  //width: 0px;
  height: 100%;
}
.container {
  position: fixed;
  width: 100%;
  height: 100%;
}
